@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

:root{
    --color01:#C300CE;
    --color02:#B100BF;
    --color03:#FE5C40;
    --color04:#8C17C3;
    --color05:#4D0072;
    --bg-color-02: #322F33;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body{
    width: 100vw;
    background-color: var(--color01);
    background-image: linear-gradient(180deg, #4D0072 0%, #9C00AE 52.6%, #C300CE 100%);
}

a{
    text-decoration: none;
}

.conteiner1{
    width: 90vw;
    margin: auto;
    
}


.conteiner-nav{
    max-width: 1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#navegacao{
    display: flex;
    gap: 20px;
}

.link-nav{
    text-transform: uppercase;
    color: white;
}

.link-nav:hover{
    color: var(--color03);
}

.bemvindo{
    max-width:1100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

div.text-bemvindo{
    flex-direction: column;
    text-align: center;
}

section.bemvindo > div.text-bemvindo > h1{
    color: white;
    font-size: 3em;
    margin-bottom: 50px;
}

section.bemvindo > div.text-bemvindo > h2{
    color: white;
    height: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-transform: uppercase;
    font-size: 2em;
}

.destaque{
    color: var(--color03);
}

.container-sale{
    width: 750px;
    height: 250px;
    background-color: white;
    margin: auto;
    display: flex;
    border-radius: 21px;
}


.container-sale > li{
    width: 250px;
    text-align: center;
}

.container-sale > li > a{
    align-items: center;
    line-height: 140px;
    color: #666666a2;
}

#container-sale1{
    background-image: url(../imagens/laptop-and-shopping-bags-online-shopping-concept.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}

.box-sale-generic{
    border-right: .2px solid #9191917e;
}

.imagem-box-sale{
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

.image-camisa{
    position: relative;
    top: 8%;
}

#btn-oferta{
    position: relative;
    top: 45%;
    right: 13.5%;
    background-color: var(--color01);
    color: rgb(255, 255, 255); 
    padding: 10px 20px;
    border-radius: 0px 10px 10px 0px;
}

#btn-oferta:hover{
    background-color: #bc2dcc;
}

.box-btn-ver{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 80%);
    color: white;
    width: 60%;
    padding: 8px;
    background: rgba(195, 0, 206, 0.7);
    border-radius: 17px;
    opacity: 0;
    animation-delay: 3s;
}


.box-btn-ver:hover{
    opacity: 1;
    transition: .3s;
}



/****************************************************************
******* INICIO DA CONFIGURAÇÃO DO CONTAINER DAS LOJAS **********/

#container-lojas{
    height: 350px;
    background-color: var(--bg-color-02);
    margin: 50px 0px 0px 0px;
    display: flex;
}

.container-loja{
    width: 750px;
    height: 280px;
    background-color: var(--bg-color-02);
    margin: auto;
    display: flex;
    border-radius: 21px;
    gap: 5px;
}

.container-loja > li{
    width: 250px;
    text-align: center;
    border: 2px solid #fffcfc59;
    gap: 5px;
}

.container-loja > li > a{
    align-items: center;
    line-height: 140px;
    color: #ffffff;
    font-weight: lighter;
    font-size: 1.1em;
}

#container-loja02{
    background-image: url(../assets/loja.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px 0px 0px 20px;
}

#container-loja5{
    border-radius: 0px 21px 21px 0px;
}

.imagem-box-lojas{
    width: 130px;
    height: 130px;
    border-radius: 20px;
}

.image-loja{
    position: relative;
    top: 8%;
}

#btn-lojas{
    position: relative;
    top: 50%;
    right: 14.5%;
    background-color: var(--color03);
    color: rgb(255, 255, 255);
    padding: 10px 25px;
    border-radius: 0px 10px 10px 0px;
}

#btn-lojas:hover{
    background-color: #fd6a51;
}

.box-btn-ver-lojas{
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, 80%);
    color: white;
    width: 60%;
    padding: 8px;
    background: rgba(254, 92, 64, 0.7);
    border-radius: 17px;
    opacity: 0;
    animation-delay: 3s;
}


.box-btn-ver-lojas:hover{
    opacity: 1;
    transition: .3s;
}




/***************************************************************************************
*********************** CONFIGURAÇÃO DO MAPA********************************/

.container-maps{
    background-color: var(--color04);
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}








/******************************************************************
********* INICIO DAS CONFIGURAÇÕES DE MEDIA QUERYS*******************/


@media (max-width: 760px){

    .img-header{
        width: 300px;
    }

    .bemvindo{
        display: flex;
        flex-wrap: wrap;
        font-size: .8em;
    }

    .box-sale-generic, .box-btn-ver, .image-camisa, .imagem-box-sale, #container-sale5
    {
        display: none;
    }
    .container-sale{
        background-color: var(--color01);
        width: 300px;
        height: 400px;
        border-radius: 10px;
        margin-top: 50px;
    }
    #container-sale1{
        width: 300px;
        border-radius: 10px;
        border: 4px solid var(--color02);
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.466);
    }
    #btn-oferta{
        position: relative;
        top: 58%;
        right: 31.5%;
        background-color: var(--color02);
        color: rgb(255, 255, 255);
        padding: 10px 20px;
        border-radius: 0px 10px 10px 0px;
    }
}


@media (max-width: 760px){
    .box-loja-generic, .box-btn-ver, .image-loja, .imagem-box-loja, #container-loja5
    {
        display: none;
    }

    #container-lojas{
        height: 500px;
    }
    .container-loja{
        background-color: var(--color03);
        width: 300px;
        height: 400px;
        border-radius: 10px;
        margin-top: 50px;
    }

    #container-loja02{
        width: 300px;
        border-radius: 10px;
        border: 4px solid var(--color03);
        box-shadow: 0px 5px 16px 0px rgba(0, 0, 0, 0.466);
    }
    
    #btn-lojas{
        position: relative;
        top: 58%;
        right: 33%;
        background-color: var(--color03);
        color: rgb(255, 255, 255);
        padding: 10px 25px;
        border-radius: 0px 10px 10px 0px;
    }
}


@media (max-width: 420px){
    #link-ofertas, #link-lojas{
        display: none;
    }

    #link-incricao{
        background-color: #fd6a51;
        padding: 10px;
        border-radius: 10px;
    }

    .img-header{
        width: 250px;
    }

}